$white-color: #fff;
$pink-color: hotpink;
$back-212: rgb(212, 212, 212);
$back-182: rgb(182, 182, 182);
$back-ac-hover: rgb(204, 55, 129);
$back-del: rgb(255, 158, 206);
$back-del-hover: rgb(255, 104, 180);
$input-color: rgb(63, 63, 63);
